<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BolaBio Detail</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/bio">Bio</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/bio/search" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <form class="form-inline ml-2" action="/logout" method="POST">
                <button class="btn btn-outline-danger" type="submit">Logout</button>
            </form>
        </div>
    </nav>
        <div class="card">
          <img src="<%= bio.imageUrl %>" class="card-img-top mx-auto d-block" alt="<%= bio.name %>" style="width: 200px; height: 300px;">
            <div class="card-body">
                <h5 class="card-title"><%= bio.name %></h5>
                <p class="card-text"><%= bio.shortDescription %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Position: <%= bio.PositionId %></li>
                <li class="list-group-item">Birth Date: <%= bio.birthDay %></li>
                <li class="list-group-item">Nationality: <%= bio.nationality %></li>
                <li class="list-group-item">Club: <%= bio.club %></li>
                <li class="list-group-item">Posted: <%= timeSince(bio.createdAt) %> ago</li>
                <li class="list-group-item">Updated: <%= timeSince(bio.updatedAt) %> ago</li>
                <li class="list-group-item">
                  <%= bio.likes || 0 %> likes
                  <div class="vote-button-container">
                      <form action="/<%= bio.id %>/like" method="post">
                          <button class="btn btn-success" type="submit" value="submit">Like</button>
                      </form>
                  </div>
              </li>
            </ul>
            <canvas id="myChart" width="100" height="70"></canvas>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myRadarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Shooting', 'Defending', 'Passing', 'Dribbling'],
                        datasets: [{
                            label: 'Statistic',
                            data: [<%= bio.shooting %>, <%= bio.defending %>, <%= bio.passing %>, <%= bio.dribbling %>],
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            pointBackgroundColor: 'rgba(255, 99, 132, 1)',
                            pointBorderColor: '#fff',
                            pointHoverBackgroundColor: '#fff',
                            pointHoverBorderColor: 'rgba(255, 99, 132, 1)'
                        }]
                    },
                    options: {
                        scale: {
                            ticks: {
                                beginAtZero: true,
                                min: 0,
                                max: 100,
                                stepSize: 10
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>
</body>

</html>
