<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <div class="container">
      <div class="row">
        <% data.forEach(function(item) { %>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= item.Position ? item.Position.name : 'No position' %></h6>
              <p class="card-text">
                Nationality: <%= item.nationality %><br>
                Club: <%= item.club %><br>
                Description: <%= item.shortDescription %>
              </p>
              <a href="/<%= item.id %>" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>